@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');


body {
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;

}
input:focus {
  outline: none;
}


button:active {
  transition-duration: 200ms;
  transform: scale(1.03);
}

.logo {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin: 10px 0 5px;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.app {
  position: relative;
}

.btn {
  display: flex;
padding: 10px;
text-align: center;
font-family: 'Red Hat Display', sans-serif;
font-size: 19px;
font-style: normal;
font-weight: 500;
border-radius: 15px;
width: 232px;
text-align: center;
display: block;
}

.black {
  background: #000;
  color: white;
  border: none;
}
.border {
  color: #000;
  background: white;
  border: 2px solid #000;
}
.Vue-Toastification__toast-body {
  text-align: center !important;
  font-weight: 500 !important;
  font-family: 'Red Hat Display' !important;
  font-size: 20px !important;
}

.Vue-Toastification__toast {
  width: 70% !important;
  border-radius: 15px !important;
  padding: 16px 1px !important;
  min-width: 260px !important;
  margin: 10px auto !important;
  min-height: 47px !important;
}
.spinner {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(82, 0, 255, 0) 0deg,
    #ffffff 360deg
  );
  animation: spin 1200ms infinite linear;
}
.loading {
    background: #000;
    color: white;
    display: flex;
    border: none;
    justify-content: space-between;
    align-items: center;
}
.spinner::before {
  content: "";
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: #000;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}